<!DOCTYPE html>
<html>
<head>
    <!-- Seções de cabeçalho comuns, como meta tags, estilos, scripts, etc. -->
    <title>@ViewData["Title"]</title>
</head>


<body>


    <div>
        @RenderBody()
    </div>
</body>

