<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AGENDAHUB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar" id="navhome">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/images/logoAgendaHub.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    AgendaHub
                </a>
            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
