@model AGENDAHUB.Models.Servicos

@{
    ViewData["Title"] = "Excluir Serviço";
}
<link rel="stylesheet" href="~/css/Serviços.css" asp-append-version="true" />

<h3 class="text-center">Tem certeza que deseja excluir este serviço?</h3><br />

<hr />
<div class="container">
    <div class="row justify-content-center">
        <!-- Centraliza os cards -->
        <div class="containerCard">
           
                <div class="cardCSS">
                    <div class="card-images">
                        <img src="@Url.Action("GetImg", "Servicos", new { id = Model.ID_Servico })" alt="Imagem do Serviço" />
                    </div>

                    <h5 class="card-titulo">@Model.Nome</h5>

                    <h5 class="card-preco">
                        Preço: R$@Model.Preco<br />
                    </h5>

                    <h5 class="footer">
                        Tempo de Execução: <span class="by-name">@Model.TempoDeExecucao.ToString("h\\h\\ mm\\m")</span><br />
                        <strong>Profissionais:</strong><br />

                        @if (Model.ServicosProfissionais != null && Model.ServicosProfissionais.Any())
                        {
                            var nomesProfissionais = Model.ServicosProfissionais
                            .Select(sp => sp.Profissional.Nome)
                            .ToList();

                            @string.Join(", ", nomesProfissionais)
                        }
                        else
                        {
                            <p>Nenhum profissional associado.</p>
                        }
                    </h5>
                </div>

           
        </div>
    </div>

    <div class="row mt-4  mb-4">
        <div class="col d-flex justify-content-center">
            <div class="btn-group items-align-center" role="group">
                <a asp-action="Index" class="btn btn-outline-warning">Voltar</a>
                <form asp-action="Delete" method="post">
                    <input type="hidden" asp-for="ID_Servico" />
                    <button type="submit" class="btn btn-outline-danger ms-1">Excluir</button>
                </form>
            </div>
        </div>
    </div>

</div>

