body {
}

#btnNovoAgendamento, #dataInicio, #dataFim, #btnStatusAgendamento, #cadastrarAgendamento, select, #statusFilter, #modalAgendamento {
    -webkit-box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    -moz-box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    border-radius: 20px;
}

#pesquisar, #dataFim {
    -webkit-box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    -moz-box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    border-radius: 20px 0 0 20px;
}

#botaoPesquisar {
    -webkit-box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    -moz-box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    border-radius: 0 20px 20px 0;
}

#dropdownStatus {
    border-radius: 20px;
}

#dataInicio {
    width: auto;
    height: 2.5rem
}

#dataFim {
    width: auto;
    height: 2.5rem
}

#pesquisarDiv {
    width: 15rem;
}

#statusAgendamento {
    border-radius: 500px;
}

#cardView {
    -webkit-box-shadow: 0px 0px 10px 5px rgba(171,169,171,0.29);
    -moz-box-shadow: 0px 0px 10px 5px rgba(171,169,171,0.29);
    box-shadow: 0px 0px 10px 5px rgba(171,169,171,0.29);
    border-radius: 20px;
}

.exibiçãoCliente {
    -webkit-box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    -moz-box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    border-radius: 20px;
    padding: 2px 30px;
}

.badge {
    width: 100%;
    padding-top: 0.46rem;
}

/* Estilização para os campos de entrada de data */
input[type="date"] {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

/* Estilização para o botão de pesquisa */
.btn-search {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.dropdown-menu{
    min-width: 5.9rem
}