body {
}

#btnNovoAgendamento, #dataInicio, #dataFim, #btnStatusAgendamento, #cadastrarAgendamento, select, input, #statusFilter, #modalAgendamento {
    -webkit-box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    -moz-box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    border-radius: 20px;
}

#pesquisar {
    -webkit-box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    -moz-box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    border-radius: 20px 0 0 20px;
}

#botaoPesquisar {
    -webkit-box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    -moz-box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    border-radius: 0 20px 20px 0;
}

#dropdownStatus {
    border-radius: 20px;
}

#dataInicio {
    width: auto;
    height: 2.2rem
}

#dataFim {
    width: auto;
    height: 2.2rem
}

#pesquisarDiv {
    width: 15rem;
}

#statusAgendamento {
    border-radius: 500px;
}

#cardView {
    -webkit-box-shadow: 0px 0px 10px 5px rgba(171,169,171,0.29);
    -moz-box-shadow: 0px 0px 10px 5px rgba(171,169,171,0.29);
    box-shadow: 0px 0px 10px 5px rgba(171,169,171,0.29);
    border-radius: 20px;
}

.exibiçãoCliente {
    -webkit-box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    -moz-box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    border-radius: 20px;
    padding: 2px 30px;
}
