body {
}

#btnNovoCliente, input {
    -webkit-box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    -moz-box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    border-radius: 20px;
}

#pesquisar {
    -webkit-box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    -moz-box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    border-radius: 20px 0 0 20px;
}

#botaoPesquisar {
    -webkit-box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    -moz-box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    border-radius: 0 20px 20px 0;
}

table.dataTable > tbody > tr > td.select-checkbox:before, table.dataTable > tbody > tr > th.select-checkbox:before {
    margin-top: 0 !important;
}