body {
}
.h1 {
    width: 80%; /* Largura relativa */
    max-width: 387px; /* Largura máxima */
    height: 51px;
    margin: 0 auto; /* Centraliza horizontalmente */
    top: 50%; /* Centraliza verticalmente */
    right: 333px;
    left: 560px;
    flex-shrink: 0;
    font-style: normal;
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.13em;
    text-align: center;
    display: flex;
    justify-content: center;
}

/*informações cadastrais*/
.e407_849 {
    width: 272px;
    height: 18px;
    top: 262px;
    left: 294px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 14.956px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.991px;
    display: inline-block; /* Coloca os spans lado a lado */
    margin-right: 10px; /* Espaçamento entre os spans */
}

.container {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: space-around; /* Alinha os elementos horizontalmente com espaçamento igual */
    align-items: flex-start; /* Alinha os elementos verticalmente ao topo */
}

.e407_850 {
    width: 272px;
    height: 18px;
    top: 262px;
    left: 294px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 14.956px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.991px;
    display: inline-block; /* Coloca os spans lado a lado */
    margin-right: 10px; /* Espaçamento entre os spans */
}

.e407_870 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 14.956px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.991px;
    width: 272px;
    height: 18px;
    top: 262px;
    left: 294px;
    display: inline-block; /* Coloca os spans lado a lado */
    margin-right: 10px; /* Espaçamento entre os spans (ajuste conforme necessário) */
}

container.infcad {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente ao centro */
}

.login {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 14.956px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.991px;
    width: 272px;
    height: 18px;
    top: 340px;
    left: 294px;
    display: inline-block; /* Coloca os spans lado a lado */
    margin-right: 10px; /* Espaçamento entre os spans (ajuste conforme necessário) */
}
/*campo login*/
.e407_851 {
    box-shadow: -10px 10px 25px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.3499999940395355);
    width: 274px;
    height: 35px;
    border-top-left-radius: 65px;
    border-top-right-radius: 65px;
    border-bottom-left-radius: 65px;
    border-bottom-right-radius: 65px;
}
/*usuários cadastrados*/
.560_406 {
    overflow: hidden;
}

.e560_406 {
    width: 274px;
    height: 35px;
    position: absolute;
    top: 0px;
}

.e560_407 {
    width: 274px;
    height: 35px;
    position: absolute;
    left: 0px;
    top: 600px;
}

.e560_408 {
    box-shadow: -10px 10px 25px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.3499999940395355);
    width: 274px;
    height: 35px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 65px;
    border-top-right-radius: 65px;
    border-bottom-left-radius: 65px;
    border-bottom-right-radius: 65px;
}

.e560_409 {
    color: rgba(0, 0, 0, 1);
    width: 216px;
    height: 18px;
    position: absolute;
    left: 21px;
    top: 8px;
    font-family: Inter;
    text-align: center;
    font-size: 14.956254005432129px;
    letter-spacing: 20;
    top: 606px;
}

/*pagamento antecipado*/

.504_387 {
    overflow: hidden;
    top: 200px;
}

.e504_387 {
    width: 267px;
    height: 25px;
    position: absolute;
    top: 380px;
}

.e407_889 {
    color: rgba(0, 0, 0, 1);
    width: 224px;
    height: 18px;
    position: absolute;
    left: 43px;
    top: 1px;
    font-family: Inter;
    text-align: center;
    font-size: 14.956254005432129px;
    letter-spacing: 20;
}

.e407_890 {
    background-color: rgba(255, 255, 255, 1);
    width: 29px;
    height: 19px;
    position: absolute;
    left: 2px;
    top: 0px;

}

.e407_891 {
    color: rgba(0, 0, 0, 1);
    width: 33px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 1px;
    font-family: Inter;
    text-align: center;
    font-size: 14.956254005432129px;
    letter-spacing: 20;
}
.container.cadastrais,.container.empresariais,.container.banco {
    flex: 1; /* Permite que esses containers cresçam para preencher o espaço disponível */
    padding: 10px; /* Adiciona algum espaçamento entre os containers */
    text-align: center; /* Alinha o texto no centro dentro dos containers */
}

.container.infcad {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container.login,.container.senha,.container.email,{
    flex: 1;
    padding: 10px;
    text-align: center;
}

/*salvar configuração*/
.e407_877 {
    overflow: hidden;
}
.e407_878 {
    width: 274px;
    height: 35px;
    position: absolute;
    right: 120px;
    top: 600px;
}
.e407_879 {
    box-shadow: -10px 10px 25px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 178.77624213695526, 190.18750101327896, 1);
    width: 233px;
    height: 35px;
    border-top-left-radius: 65px;
    border-top-right-radius: 65px;
    border-bottom-left-radius: 65px;
    border-bottom-right-radius: 65px;
}
.e407_880 {
    color: rgba(0, 0, 0, 1);
    width: 216px;
    height: 18px;
    position: absolute;
    left: 915px;
    top: 8px;
    font-family: Inter;
    text-align: center;
    font-size: 14.956254005432129px;
    letter-spacing: 20;
    top: 606px;
}