body {
}
h1 {
    width: 387px;
    height: 51px;
    right: 333px;
    top: 177px;
    left: 560px;
    flex-shrink: 0;
    font-style: normal;
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.13em;
    text-align: center;
}

.e407_849 {
    width: 272px;
    height: 18px;
    top: 262px;
    left: 294px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 14.956px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.991px;
}
.e407_852 {
    width: 52px;
    height: 18px;
    top: 321px;
    left: 396px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 14.956px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.991px;
}
.e407_851 {
    width: 274px;
    height: 35px;
    top: 343px;
    left: 294px;
    border-radius: 65px;
    flex-shrink: 0;
    border-radius: 65px;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: -10px 10px 25px 0px rgba(0, 0, 0, 0.25);
}
.e407_854 {
    width: 57px;
    height: 18px;
    top: 398px;
    left: 394px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 14.956px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.991px;
}
.e407_853 {
    width: 274px;
    height: 35px;
    top: 416px;
    left: 294px;
    border-radius: 65px;
    flex-shrink: 0;
    border-radius: 65px;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: -10px 10px 25px 0px rgba(0, 0, 0, 0.25);
}
.e407_857 {
    width: 51px;
    height: 18px;
    top: 461px;
    left: 396px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 14.956px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.991px;
}
.e407_855 {
    width: 274px;
    height: 35px;
    top: 489px;
    left: 294px;
    border-radius: 65px;
    flex-shrink: 0;
    border-radius: 65px;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: -10px 10px 25px 0px rgba(0, 0, 0, 0.25);
}