body {
    color: #4c4b5b;
    font-family: "Euclid Circular A", "Poppins";
    padding-top: 72px;
}


* {
    box-sizing: border-box;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
    width: 100%;
    height: 72px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    background: rgb(208, 208, 208);
    background: linear-gradient(90deg, rgba(208, 208, 208, 1) 0%, rgba(13, 202, 240, 1) 100%);
    transition: 0.3s;
}

    nav.visible {
        top: 0;
        transform: translate(0);
    }

    nav > img {
        width: 50px;
        height: 50px;
    }


.nav-items {
    display: flex;
    align-items: center;
    gap: 16px;

}

.item {
    font-size: 16px;
    color:black;
}

.nav-items > a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-family: Arial;
    height: 72px;
    display: grid;
    place-items: center;
    font-size: 16px;
}

        .nav-items > a:hover {
            color: rgb(255 255 255 / 96%);
        }

.bn30 {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
}

    .bn30 .text {
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    }

    .bn30:after {
        content: "";
        border-radius: 18px;
        position: absolute;
        margin: 4px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background: rgba(13, 202, 240, 1);
    }

    .bn30:hover {
        background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
        box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
    }

        .bn30:hover .text {
            background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
        }