/* Estilos base */
body {
    background: #D0D0D0;
    font-family: "Euclid Circular A", "Poppins";
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altura mínima de 100% da viewport */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    body {
        font-size: 16px; /* Reduza o tamanho da fonte para telas menores */
    }
}

* {
    box-sizing: border-box;
}

.title {
    position: absolute;
    padding-top: 1rem;
    padding-right: 8rem;
    top: 1rem; /* 1rem é aproximadamente 10px */
    right: 1rem; /* 1rem é aproximadamente 10px */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 4vw; /* Tamanho da fonte proporcional à largura da tela */
    color: #2C3E50;
    text-align: center;
    margin-bottom: 0;

     
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: #2C3E50;
    text-align: center;
    margin-bottom: 1rem;
    /* 5.2vw é aproximadamente 52px */
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 3.125vw; /* Tamanho da fonte proporcional à largura da tela */
    margin-bottom: 5rem; /* 5rem é aproximadamente 50px */
    color: #2C3E50;
}

.card1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.75rem;
    background-color: white;
    width: 300px;
    height: 8rem;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -2px rgba(0,0,0,.1);
    margin-right: auto;
}

.header {
    position: relative;
    background-clip: border-box;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.75rem;
    background-color: rgb(33 150 243);
    box-shadow: 0 10px 15px -3px rgba(33,150,243,.4),0 4px 6px -4px rgba(33,150,243,.4);
    height: 5rem;
    display: flex; /* Ative o flexbox para centralizar o conteúdo verticalmente */
    align-items: center;
}

.titleSection2 {
    color: white;
    letter-spacing: 0;
    line-height: 1.375;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    margin: 0 auto;
}




p {
    font-family: 'Poppins', sans-serif;
    text-align:center;
    /* 1rem é aproximadamente 10px */
}

.divCalendarioRelogio {
    width: 40vw; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.calendarioRelogio {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100vh;
}

@media (max-width: 768px) {
    .title {
        padding-top:3rem;
        padding-right: 2rem;
    }

    h1 {
        font-size: 1rem;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        color: #2C3E50;
        text-align: center;
    }

    h2 {
        font-size: 1rem; /* Tamanho da fonte para telas menores */
        text-align: center;
    }

    h4 {
        font-size: 4vw; /* Tamanho da fonte para telas menores */
        text-align: center;
    }

    p {
        font-size: 1rem;
    }
}

@media (max-width: 620px) {
    .title {
        padding-top: 3rem;
        padding-right: 2rem;
    }

    h1 {
        font-size: 0.9rem;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        color: #2C3E50;
        text-align: center;
    }

    h2 {
        font-size: 0.9rem; /* Tamanho da fonte para telas menores */
        text-align: center;
    }

    h4 {
        font-size: 4vw; /* Tamanho da fonte para telas menores */
        text-align: center;
    }

    p {
        font-size: 0.7rem;
    }
}

@media (max-width: 412px) {
    .title {
        padding-top: 3rem;
        padding-right: 2rem;
    }

    h1 {
        font-size: 0.6rem;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        color: #2C3E50;
        text-align: center;
    }

    h2 {
        font-size: 0.5rem; /* Tamanho da fonte para telas menores */
        text-align: center;
    }

    h4 {
        font-size: 4vw; /* Tamanho da fonte para telas menores */
        text-align: center;
    }

    p {
        font-size: 0.6rem;
    }
}
.section-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

@media (max-width: 480px) {
    .title {
        padding-right: 1rem; /* Ajuste adicional para telas ainda menores */
    }
}


/*Video*/

.cardVideo {
    --font-color: #323232;
    --bg-color: #e0e0e0;
    width:100%;
    height: 499px;
    border-radius: 20px;
    background: var(--bg-color);
    box-shadow: -9px 9px 18px #5a5a5a, 9px -9px 18px #ffffff;
    display: flex;
    flex-direction: column;
    transition: .4s;
    position: relative;
}

   

.card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    background-color: blueviolet;
}

.card__descr-wrapper {
    padding: 15px;
    display: grid;
}

.card__title {
    color: var(--font-color);
    text-align: center;
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 16px;
}

.card__descr {
    color: var(--font-color);
}

.svg {
    width: 25px;
    height: 25px;
    transform: translateY(25%);
    fill: var(--font-color);
}

.card__links {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}

    .card__links .link {
        color: var(--font-color);
        font-weight: 600;
        font-size: 15px;
        text-decoration: none;
    }

        .card__links .link:hover {
            text-decoration: underline;
        }


.video {
    margin-top: 50px;
    
}

.servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.titleservicos {
    text-align: center;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
}

    .titleservicos h3:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 5px;
        width: 55px;
        
       
    }

    .titleservicos h3:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 2px;
        height: 1px;
        width: 95%;
        max-width: 255px;
       
    }

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    margin-bottom: 50px;
    color: #2C3E50;
}

@media (max-width: 768px) {
    .titleservicos {
        font-size: 24px; /* Reduza o tamanho da fonte para telas menores */
    }

    h3 {
        font-size: 36px; /* Reduza o tamanho da fonte para telas menores */
        margin-bottom: 30px; /* Reduza a margem inferior para telas menores */
    }
}



.table-container {
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
}

.tablet {
    width: 100%; /* Ocupará 100% da largura do container */
    height: 0; /* A altura será controlada pela proporção do vídeo */
    padding-bottom: 56.25%; /* Proporção de largura:altura do vídeo (16:9) */
    padding-left: 0rem;
    background-color: #ffffff;
    border: 10px solid #999999;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    position: relative;
}

iframe {
    width: 100%; /* Ocupará 100% da largura do container */
    height: 100%; /* Ocupará 100% da altura do container */
    border-top-left-radius: 20px; /* Aplica o border-radius apenas à parte superior esquerda */
    border-top-right-radius: 20px;
    border: none;
}


/* Regra de mídia para telas menores (exemplo: largura máxima de 768px) */
@media (max-width: 768px) {
    .tablet {
        width: 74.9vw; /* Usar 100% da largura da viewport para telas menores */
        height: 20vh; /* Usar altura automática para se ajustar ao conteúdo */
        margin: 20px; /* Adicionar margem para espaçamento em telas menores */
    }

    .table-container {
        margin-top: 20px; /* Ajustar margem superior para telas menores */
        margin-bottom: 20px; /* Ajustar margem inferior para telas menores */
    }
}


.screen {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    position: absolute;
}

.static-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #0073e6;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}


#section-main-tres {
    padding-top:100px;
}

.cardBanner {
    width: 60%;
    height: 550px;
    margin: 0 auto;
    background: linear-gradient(0deg, #000, #17C2EB), rgba(124, 235, 235, 0);
    box-shadow: -9px 9px 18px #5a5a5a, 9px -9px 18px #ffffff;
    border-radius: 8px;
    z-index: 1;
    overflow: hidden;
}



.tools {
    display: flex;
    align-items: center;
    padding: 9px;
}

.circle {
    padding: 0 4px;
}

.card__content {
    display: flex;
    justify-content: center; /* Centraliza a imagem horizontalmente */
}

    .card__content img {
        min-height: 11.067708333333334vw;
        height: 500px;
        width: 98%;
        object-fit: cover;
        background-color: #c9c9c9;
        border-radius: 15px;
        box-shadow: inset 8px 8px 10px #c3c3c3, inset -8px -8px 10px #cfcfcf;
    }

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}




/*Cards*/


.container {
    display: flex;
    justify-content: center; /* Centraliza os cards horizontalmente */
    gap: 20px; /* Adicione espaço entre os cards */
    margin-top: 50px;
}

.card {
    padding: 20px;
    width: 330px;
    min-height: 370px;
    border-radius: 20px;
    background: #e8e8e8;
    box-shadow: 5px 5px 6px #dadada, -5px -5px 6px #f6f6f6;
    transition: 0.4s;
}

    .card:hover {
       translate: 0 -10px;
    }

.card-title {
    font-size: 18px;
    font-weight: 600;
    color: #2e54a7;
    margin: 15px 0 0 10px;
}

.card-image img {
    min-height: 11.067708333333334vw;
    max-height: 13.020833333333334vw;
    width: 100%; /* Para garantir que a imagem se ajuste ao contêiner */
    object-fit: cover;
    background-color: #c9c9c9;
    border-radius: 15px;
    box-shadow: inset 8px 8px 10px #c3c3c3, inset -8px -8px 10px #cfcfcf;

}

.card-body {
    margin: 1px 0 0 10px;
    color: rgb(31, 31, 31);
    font-size: 15px;
    font-weight: 700;
    color: #636363;
}

.footer {
    float: inherit;
    margin: 1px 0 0 10px;
    font-size: 13px;
    color: #636363;
}

.by-name {
    font-weight: 700;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Alinhe os cards verticalmente */
        align-items: center; /* Centralize os cards verticalmente */
    }

    .card {
        width: 90%; /* Ajuste a largura para ocupar a largura da viewport */
    }

    .card-image img {
        max-height: 150px; /* Reduza a altura máxima da imagem */
    }
}


/* Estilos padrão do header */
nav {
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
    width: 100%;
    height: 80px;
    background: rgba(52, 152, 219, 0);
    transition: 0.3s;
}

    nav.visible {
        top: 0;
        transform: translate(0);
    }

    nav > img {
        width: 180px;
        height: 180px;
        margin-top: 15px;
        margin-left: 80px;
    }

.nav-items {
    display: flex;
    align-items: center;
    gap: 16px;
}

.item {
    font-size: 16px;
    color: black;
}

.nav-items > a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-family: Arial;
    height: 72px;
    display: grid;
    place-items: center;
    font-size: 16px;
}

    .nav-items > a:hover {
        color: #4568dc;
    }

.button {
    display: flex;
    align-items: center;
    gap: 16px;
}

.bn30 {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
}

    .bn30 .text {
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    }

    .bn30:after {
        content: "";
        border-radius: 18px;
        position: absolute;
        margin: 4px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background: rgba(13, 202, 240, 1);
    }

    .bn30:hover {
        background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
        box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
    }

        .bn30:hover .text {
            background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
        }

/* Estilos para telas de até 768px (exemplo) */
@media (max-width: 768px) {
    nav {
        height: 60px; /* Altura menor para telas menores */
        padding: 0 10px; /* Espaçamento menor para telas menores */
    }

        nav > img {
            width: 120px; /* Tamanho menor do logotipo para telas menores */
            height: 120px;
            margin-top: 10px;
            margin-left: 40px;
        }

    header {
        display: none;
    }

    

   
}

/* Outras regras de mídia para tamanhos de tela diferentes */
@media (max-width: 480px) {
    /* Estilos adicionais para telas ainda menores */
}


.main-class {
    position: absolute;
    padding-bottom: 100px;
    margin-top: 15vh; /* Margem superior em relação à altura da viewport */
    margin-bottom: 5vh; /* Margem inferior em relação à altura da viewport */
    width: 90vw; /* 90% da largura da viewport */
    height: 550vh; /*Remover depois*/
    min-height: 100vh; /* Altura mínima de 100% da viewport */
    margin-left: 5vw; /* Margem esquerda em relação à largura da viewport */
    border-radius: 2.3732vw; /* Raio da borda em relação à largura da viewport */
    border: 0.0791vw solid #FFF; /* Borda sólida branca */
    background: rgba(61, 53, 155, 0.10); /* Cor de fundo com transparência */
    box-shadow: -3.164vw 3.164vw 3.965vw 0px rgba(0, 0, 0, 0.31); /* Sombra em relação à largura da viewport */
    backdrop-filter: blur(39.55398941040039px); /* Desfoque em relação à largura da viewport */
}


@media (max-width: 768px) {
    .main-class {
        width: 90%;
        height: 450vh; /* Ajuste a altura automaticamente */
        margin-top: 60px; /* Ajuste a margem superior */
        margin-left: 5%; /* Remova a margem esquerda */
        border: 0.5px solid #FFF; /* Ajuste a espessura da borda */
        border-radius: 23.732px; /* Ajuste o raio da borda */
        background: rgba(61, 53, 155, 0.10); /* Reduza a transparência do fundo */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Sombra mais sutil */
        backdrop-filter: blur(39.55398941040039px); /* Reduza o desfoque */
    }
}



    
#page-section {
    padding-top: 72px;
    min-height: calc(600vh - 350px);
    overflow: hidden;
}

.circles-container {
    position:relative;
}

@media (max-width: 768px) {
    #page-section {
        padding-top: 36px; /* Ajuste o preenchimento superior */
        min-height: calc(500vh - 72px); /* Remova a altura mínima */
    }
}

.circulo1 {
    position: absolute;
    top: 6.25rem;
    right: 2.083vw;
    width: 25vw;
    height: 25.25vw;
    flex-shrink: 0;
    background: radial-gradient(82.52% 82.52% at 70.75% 17.77%, rgba(219, 255, 255, 1) 0%, rgba(2, 187, 187, 1) 100%);
    border-radius: 50%;
    animation: move-up6 5s ease-in infinite alternate-reverse;
}

@keyframes move-up6 {
    to {
        transform: translateY(-20px);
    }
}

@keyframes move-down1 {
    to {
        transform: translateY(20px);
    }
}









.circulo2 {
    position: absolute;
    top: 6.25rem;
    left: 3.75rem;
    width: 12vw;
    height: 12vw;
    flex-shrink: 0;
    background: linear-gradient(217deg, #00B3BE 17.72%, #25A4AC 85.18%);
    border-radius: 50%;
    animation: move-up6 5s ease-in infinite alternate-reverse;
}

.circulo3 {
    position: absolute;
    top: 44.188rem;
    right: 20.377604166666668vw;
    width: 14vw;
    height: 14vw;
    flex-shrink: 0;
    background: linear-gradient(196deg, #25A4AC 11.06%, rgba(8, 199, 187, 0.95) 82.14%);
    border-radius: 50%;
    animation: move-up6 5s ease-in infinite alternate-reverse;
}

.circulo4 {
    position: absolute;
    top: 61.5rem;
    left: 0.2vw;
    width: 22.70833vw;
    height: 22.91667vw;
    flex-shrink: 0;
    background: linear-gradient(196deg, #56FFD6 11.06%, rgba(8, 199, 187, 0.95) 82.14%);
    border-radius: 50%;
    animation: move-up6 5s ease-in infinite alternate-reverse;
}


.circulo5 {
    position: absolute;
    top: 67rem;
    right: 1.063rem;
    width: 15.64583vw;
    height: 15.70139vw;
    flex-shrink: 0;
    background: linear-gradient(190deg, #9EF2F8 7.81%, rgba(185, 185, 185, 0.80) 91.38%);
    border-radius: 27.5rem;
}

.circulo6 {
  
    position: absolute;
    top: 107rem;
    left: 33.92916666666700vw;
    width: 25.78125vw;
    height: 25.9765625vw;
    flex-shrink: 0;
    background: radial-gradient(82.52% 82.52% at 63.9% 17.3%, rgba(219, 255, 255, 1) 0%, rgba(2, 187, 187, 1) 100%);
    border-radius: 24.9375rem;
}

.circulo7 {
    position: absolute;
    top: 146.063rem;
    right: 67.90364583333333vw;
    left: -1.5625vw;
    width: 17.057291666666668vw;
    height: 17.122395833333332vw;
    flex-shrink: 0;
    background: linear-gradient(190deg, #9EF2F8 7.81%, rgba(185, 185, 185, 0.80) 91.38%);
    border-radius: 16.4375rem;
}

.circulo8 {
    position: absolute;
    top: 167rem;
    left: 60.677083333333336vw;
    right: -3.0598958333333335vw;
    width: 25.78125vw;
    height: 25.9765625vw;
    flex-shrink: 0;
    background: radial-gradient(82.52% 82.52% at 63.9% 17.3%, rgba(219, 255, 255, 0.95) 0%, rgba(2, 187, 187, 0.95) 100%);
    border-radius: 24.9375rem;
}

.circulo9 {
    position: absolute;
    top: 196.5rem;
    left: -1.5625vw;
    width: 28.385416666666668vw;
    height: 28.645833333333332vw;
    flex-shrink: 0;
    background: linear-gradient(196deg, #56FFD6 11.06%, rgba(8, 199, 187, 0.95) 82.14%);
    border-radius: 27.5rem;
}


/* Estilos para a seção do rodapé */
#section-footer {
    width: 100%;
    background-color: rgba(33, 150, 243, 0); /* Cor azul com 50% de transparência */
    box-shadow: 0 10px 15px -3px rgba(33,150,243,.4), 0 4px 6px -4px rgba(33,150,243,.4);
    padding-top: 60px;
    margin-top: auto;
    position: relative;
    z-index: 1;
}


footer {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 0 0px;
}

.fa-brands {
    color: #4c4b5b;
}
/* Estilos para telas menores (máximo de 620px) */
@media (max-width: 620px) {
    footer {
        flex-direction: column;
    }

        /* Estilos específicos para a classe 'bottom' dentro do rodapé */
        footer.bottom {
            gap: 16px;
            flex-direction: column-reverse;
        }
}

/* Estilos para imagens dentro do rodapé */
footer > img {
    width: 180px;
    height: 180px;
    margin-bottom: -50px;
  
}


/* Estilos para telas maiores ou iguais a 620px */
@media (width >= 620px) {
    footer {
        margin: 0 auto;
        max-width: 600px;
        padding: 0;
    }
}

/* Estilos gerais para o texto dentro do rodapé */
footer {
    color: rgba(0, 0, 0, 0.5);
}

    /* Estilos para a parte superior do rodapé */
    footer.top {
        border-bottom: 2px solid #3a4f6a;
        padding-bottom: 20px;
    }

    /* Estilos para a parte inferior do rodapé */
    footer.bottom {
        padding: 20px 0;
        justify-content: space-between;
    }

    /* Estilos para os links no topo do rodapé */
    footer.top .links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

/* Estilos para as divisões de links no rodapé */
.links > div {
    display: grid;
    gap: 10px;
    margin-bottom: 30px;
}

/* Estilos para os títulos no rodapé */
footer h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

/* Estilos para o texto 'legal' no rodapé */
.legal {
    font-size: 12px;
    font-family: Arial;
}

.slogan {
    font-family: Arial;
}

    /* Estilos para os links dentro do texto 'legal' */
    .legal > a {
        margin: 0 4px;
    }

    /* Estilos para o espaço entre os elementos no texto 'legal' */
    .legal > span {
        margin-right: 10px;
    }

/* Estilos para os links na parte inferior do rodapé */
footer.bottom .links {
    display: flex;
    gap: 18px;
}

    /* Estilos para os links na parte inferior do rodapé */
    footer.bottom .links > a {
        font-size: 24px;
    }

/* Estilos para telas menores que 420px */
@media (width < 420px) {
    footer {
        text-align: center;
        align-items: center;
    }

        /* Ajuste para a grade de links no topo do rodapé */
        footer.top .links {
            grid-template-columns: 1fr;
        }

        /* Ajuste para a parte inferior do rodapé */
        footer.bottom {
            align-items: center;
        }

    /* Estilos para o texto 'legal' em telas menores */
    .legal > span {
        display: block;
        margin-right: 0;
        margin-bottom: 2px;
    }
}
