body {
   
}

.card {
    background: #e8e8e8;
    box-shadow: 5px 5px 6px #dadada, -5px -5px 6px #dadada;
    transition: 0.4s;
}

.card:hover {
    translate: 0 -10px;
}


#btnNovoServico, input, select, #selectMultiple {
    -webkit-box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    -moz-box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
}

#pesquisar {
    -webkit-box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    -moz-box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    border-radius: 20px 0 0 20px;
}

#botaoPesquisar {
    -webkit-box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    -moz-box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    box-shadow: -8px 7px 10px 0px rgba(171,169,171,0.29);
    border-radius: 0 20px 20px 0;
}

/*Cards*/


.containerCard {
    display: flex;
    justify-content: center; /* Centraliza os cards horizontalmente */
    gap: 20px; /* Adicione espaço entre os cards */
    margin-top: 50px;
}

.cardCSS {
    padding: 20px;
    width: 330px;
    min-height: 370px;
    border-radius: 20px;
    background: #e8e8e8;
    box-shadow: 5px 5px 6px #dadada, -5px -5px 6px #f6f6f6;
    transition: 0.4s;
}

.cardImagemEdit {
    margin-top: 10px;
    margin-bottom:10px;
    padding: 20px;
    width: 330px;
    border-radius: 20px;
    background: #e8e8e8;
    box-shadow: 5px 5px 6px #dadada, -5px -5px 6px #f6f6f6;
    transition: 0.4s;
}

.cardCSS:hover {
    transform: translateY(-10px);
}

.card-titulo {
    font-size: 18px;
    font-weight: 600;
    color: #2e54a7;
    margin: 15px 0 0 10px;
}

.card-images img {
    min-height: 11.067708333333334vw;
    max-height: 13.020833333333334vw;
    width: 100%; /* Para garantir que a imagem se ajuste ao contêiner */
    object-fit: cover;
    background-color: #c9c9c9;
    border-radius: 15px;
    box-shadow: inset 8px 8px 10px #c3c3c3, inset -8px -8px 10px #cfcfcf;
}

.card-preco {
    margin: 0 0 0 0;
    padding-left:10px;
    color: rgb(31, 31, 31);
    font-size: 15px;
    font-weight: 700;
    color: #636363;
}

.footer {
    float: inherit;
    margin: 1px 0 0 10px;
    font-size: 13px;
    color: #636363;
}

.by-name {
    font-weight: 700;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Alinhe os cards verticalmente */
        align-items: center; /* Centralize os cards verticalmente */
    }

    .card {
        width: 90%; /* Ajuste a largura para ocupar a largura da viewport */
    }

    .card-image img {
        max-height: 150px; /* Reduza a altura máxima da imagem */
    }
}