@model AGENDAHUB.Models.Configuracao

<link rel="stylesheet" href="~/css/Configuracao.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Cadastrar Dados Empresariais";
}

<h1 class="text-center">Cadastrar Dados Empresariais</h1>

<div class="row d-flex justify-content-center">
    <div class="col-md-4 text-center">

        <form asp-action="Create" method="post">

            <div class="form-group pt-2">
                <label asp-for="NomeEmpresa" class="pt-2"></label>
                <div class="pt-2">
                    <input asp-for="NomeEmpresa" class="form-control" />
                    <span asp-validation-for="NomeEmpresa" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group pt-2">
                <label asp-for="Cnpj" class="pt-2"></label>
                <div class="pt-2">
                    <input asp-for="Cnpj" class="form-control" />
                    <span asp-validation-for="Cnpj" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group pt-2">
                <label asp-for="Endereco" class="pt-2"></label>
                <div class="pt-2">
                    <input asp-for="Endereco" class="form-control" />
                    <span asp-validation-for="Endereco" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group pt-2">
                <label asp-for="Email" class="pt-2"></label>
                <div class="pt-2">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="justify-content-center">
                <div class="form-group pt-4">
                    <a asp-action="Index" class="btn btn-outline-warning">Voltar</a>
                    <button type="submit" class="btn btn-outline-info">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>
