@model AGENDAHUB.Models.Usuario

@{
    ViewData["Title"] = "Dados Empresariais";
}




<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="container">
                <a asp-controller="Profissionais" asp-action="Index" class="btn btn-outline-info">Cadastrar Usuario</a>
                <ul class="contentMenu">
                  
                        <li class="nav-item">
                            <a class="nav-link form-Partial active" asp-area="" asp-controller="Configuracao" asp-action="Edit" asp-route-section="InformacoesCadastrais">
                                Informações Cadastrais
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link form-Partial" asp-area="" asp-controller="Configuracao" asp-action="EditInformacoesEmpresariais" asp-route-section="InformacoesEmpresariais">
                                Informações Empresariais
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link form-Partial" asp-area="" asp-controller="Configuracao" asp-action="Edit" asp-route-section="InformacoesBancarias">
                                Informações Bancarias
                            </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link form-Partial" asp-area="" asp-controller="Configuracao" asp-action="EditInforAtendimento" asp-route-section="EditInforAtendimento">
                                Informações de Atendimento
                            </a>
                        </li>
                 

                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <h2 class="text-center">Configurações da Conta</h2>
            <form asp-action="Edit" asp-controller="Configuracao" method="post">

                <div class="form-group pt-2">
                    <label class="mt-2 me-2" for="NomeUsuario">Usuario</label>
                    <div class="pt-2">
                        <input asp-for="NomeUsuario" class="form-control" />
                        <span asp-validation-for="NomeUsuario" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group pt-2">
                    <label asp-for="Email" class="pt-2"></label>
                    <div class="pt-2">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group pt-2">
                    <label asp-for="Senha" class="pt-2"></label>
                    <div class="pt-2">
                        <input asp-for="Senha" class="form-control" />
                        <span asp-validation-for="Senha" class="text-danger"></span>
                    </div>
                </div>

                <div class="text-center">
                    <div class="form-group pt-4">
                       
                        <button type="submit" class="btn btn-outline-info">Salvar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>



