@model AGENDAHUB.Models.Usuario

<link rel="stylesheet" href="~/css/Configuracao.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Informações Cadastrais";
}


<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="container">

                <a asp-controller="Account" asp-action="Index" class="btn btn-outline-info" id="btnNovoUsuario">Cadastrar Usuario</a>
                <br />
                <a asp-controller="Profissionais" asp-action="Index" class="btn btn-outline-info mt-2" id="btnNovoProfissional">Cadastrar Profissional</a>

                <ul class="contentMenu">
                    <li class="nav-item">
                        <a class="nav-link form-Partial active" asp-area="" asp-controller="Configuracao" asp-action="Edit" asp-route-section="InformacoesCadastrais">
                            Informações Cadastrais
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link form-Partial" asp-area="" asp-controller="Configuracao" asp-action="EditInformacoesEmpresariais" asp-route-section="InformacoesEmpresariais">
                            Informações Empresariais
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link form-Partial" asp-area="" asp-controller="Configuracao" asp-action="EditInforAtendimento" asp-route-section="EditInforAtendimento">
                            Informações de Atendimento
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <h2 class="text-center">Configurações da Conta</h2>

            <form asp-action="Edit" asp-controller="Configuracao" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label asp-for="Imagem" class="control-label"></label>

                    @if (ViewBag.HasExistingImage)
                    {
                        <div class="card-image" style="text-align: center; margin-bottom: 3%">
                            <img id="existingImage" style="width: 10rem; height: 11rem; border-radius: 0.7rem;" src="data:image;base64,@Convert.ToBase64String(Model.Imagem)" alt="Imagem Atual" />
                        </div>
                    }
                    else
                    {
                        <a asp-action="CreateImg" asp-controller="Configuracao">Cadastrar imagem</a>
                    }
                    <input asp-for="Imagem" type="file" class="form-control" onchange="previewImage(this)" placeholder="Alterar imagem" />
                    <span asp-validation-for="Imagem" class="text-danger"></span>
                </div>

                <script>
                    function previewImage(input) {
                        var existingImage = document.getElementById('existingImage');

                        if (input.files && input.files[0]) {
                            var reader = new FileReader();

                            reader.onload = function (e) {
                                existingImage.src = e.target.result;
                            };

                            reader.readAsDataURL(input.files[0]);
                        }
                    }
                </script>

                <div class="form-group pt-2">
                    <label class="mt-2 me-2" for="NomeUsuario">Usuario</label>
                    <div class="pt-2">
                        <input asp-for="NomeUsuario" class="form-control" />
                        <span asp-validation-for="NomeUsuario" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group pt-2">
                    <label asp-for="Email" class="pt-2"></label>
                    <div class="pt-2">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group pt-2">
                    <label asp-for="Senha" class="pt-2"></label>
                    <div class="pt-2">
                        <input asp-for="Senha" class="form-control" placeholder="Não exibida por segurança" />
                        <span asp-validation-for="Senha" class="text-danger"></span>
                    </div>
                </div>

                <div class="text-center">
                    <div class="form-group pt-4">
                        <button type="submit" class="btn btn-outline-info">Salvar</button>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-controller="Account" asp-route-id="@Model.Id">
                           Excluir
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


