@model AGENDAHUB.Models.Configuracao

<link rel="stylesheet" href="~/css/Configuracao.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Informações de Atendimento";
}

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="container">

                <a asp-controller="Account" asp-action="Index" class="btn btn-outline-info" id="btnNovoUsuario">Cadastrar Usuario</a>
                <br />
                <a asp-controller="Profissionais" asp-action="Index" class="btn btn-outline-info mt-2" id="btnNovoProfissional">Cadastrar Profissional</a>

                <ul class="contentMenu">
                    <li class="nav-item">
                        <a class="nav-link form-Partial active" asp-area="" asp-controller="Configuracao" asp-action="Edit" asp-route-section="InformacoesCadastrais">
                            Informações Cadastrais
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link form-Partial" asp-area="" asp-controller="Configuracao" asp-action="EditInformacoesEmpresariais" asp-route-section="InformacoesEmpresariais">
                            Informações Empresariais
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link form-Partial" asp-area="" asp-controller="Configuracao" asp-action="EditInforAtendimento" asp-route-section="EditInforAtendimento">
                            Informações de Atendimento
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-4">

            <form asp-action="EditInforAtendimento" asp-controller="Configuracao" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label class="control-label">
                        <h5 class="text-center">Dias de Atendimento</h5>
                    </label>
                    <br />
                    @for (int i = 0; i < Enum.GetValues(typeof(DiasAtendimento)).Length; i++)
                    {
                        var dia = (DiasAtendimento)i;
                        <div class="form-check form-check-inline d-flex justify-content-start">
                            <input type="checkbox" name="DiaAtendimento" value="@dia" @(Model?.DiaAtendimento?.Contains(dia) ?? false ? "checked" : "") class="form-check-input" />
                            <label class="form-check-label">@dia</label>
                        </div>
                    }
                    <span asp-validation-for="DiaAtendimento" class="text-danger"></span>
                </div>

                <div class="form-group pt-5">
                    <label asp-for="HoraInicio" class="control-label">
                        <h5 class="text-center">Horário de Abertura</h5>
                    </label>
                    <input asp-for="HoraInicio" class="form-control" />
                    <span asp-validation-for="HoraInicio" class="text-danger"></span>
                </div>

                <div class="form-group pt-2">
                    <label asp-for="HoraFim" class="control-label">
                        <h5 class="text-center">Horário de Fechamento</h5>
                    </label>
                    <input asp-for="HoraFim" class="form-control" />
                    <span asp-validation-for="HoraFim" class="text-danger"></span>
                </div>

                <div class="text-center">
                    <div class="form-group pt-4">
                        <button type="submit" class="btn btn-outline-info">Salvar</button>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@Model?.ID_Configuracao">
                            Excluir
                        </a>
                    </div>
                </div>
            </form>

        </div>

    </div>
</div>
