@model IEnumerable<AGENDAHUB.Models.Configuracao>
<link rel="stylesheet" href="~/css/Configuracao.css" asp-append-version="true" />

@{
    ViewData["Title"] = "CONFIGURAÇÕES";
}
<h1>@ViewData["Title"]</h1>

<span class="e407_849">INFORMAÇÕES CADASTRAIS</span><br/>

<span class="e407_852">Login</span>

<div class="e407_851"></div>

<span class="e407_854">Senha</span>

<div class="e407_853"></div>

<span class="e407_857">Email</span>

<div class="e407_855"></div>

<div class=e560_406>
    <div class=e560_407>
        <div class="e560_408"></div>
    </div><span class="e560_409">Usuários Cadastrados</span>
</div>