###################
# compiled source #
###################
*.sln
*.env
*.com
*.class
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.suo
*.vscode
*.idea
*.vs/AGENDAHUB/DesignTimeBuild/
*.vs/AGENDAHUB/FileContentIndex/
*.vs/AGENDAHUB/FileContentIndex/055859d8-9210-491d-ae82-15eb20878d16.vsidx	

# Pacotes NuGet
node_modules/
packages/



# Ignorar arquivos .vsidx no diretório FileContentIndex
.vs/AGENDAHUB/FileContentIndex/*.vsidx
.vs/AGENDAHUB/FileContentIndex/9826f556-5a64-46f1-9513-3684fc8b5d5a.vsidx


# Ignorar arquivos no diretório obj
.vs/
AGENDAHUB/bin/
AGENDAHUB/obj/

AGENDAHUB/obj/AGENDAHUB.csproj.nuget.dgspec.json
AGENDAHUB/obj/AGENDAHUB.csproj.nuget.g.props
AGENDAHUB/obj/Debug/net6.0/AGENDAHUB.GeneratedMSBuildEditorConfig.editorconfig
AGENDAHUB/obj/Debug/net6.0/AGENDAHUB.assets.cache
AGENDAHUB/obj/Debug/net6.0/AGENDAHUB.csproj.AssemblyReference.cache
AGENDAHUB/obj/Debug/net6.0/project.razor.vs.json
AGENDAHUB/obj/project.assets.json
AGENDAHUB/obj/project.nuget.cache


# Include dlls if they’re in the NuGet packages directory
!/packages/*/lib/*.dll
!/packages/*/lib/*/*.dll
# Include dlls if they're in the CommonReferences directory
!*CommonReferences/*.dll
####################
# VS Upgrade stuff #
####################
UpgradeLog.XML
_UpgradeReport_Files/
###############
# Directories #
###############
bin/
obj/
TestResults/
###################
# Web publish log #
###################
*.Publish.xml
#############
# Resharper #
#############
/_ReSharper.*
*.ReSharper.*
############
# Packages #
############
# it’s better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
######################
# Logs and databases #
######################
*.log
*.pdb
*.db

*.sqlite
# OS generated files #
######################
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
[Bb]in
[Oo]bj
[Tt]est[Rr]esults
*.suo
*.user
*.[Cc]ache
*[Rr]esharper*
packages
NuGet.exe
_[Ss]cripts
*.exe
*.dll
*.nupkg
*.ncrunchsolution
*.dot[Cc]over