@model AGENDAHUB.Models.Usuario

<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<script src="~/js/MostrarSenha.js"></script>
@* Fonte de letra:*@
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Create";
}

<div class="elipses">
    <div class="elipseDireita"></div>
    <div class="elipseEsquerda"></div>
    <div class="elipseBolaMaior"></div>
    <div class="elipseBolinha">
        <svg xmlns="http://www.w3.org/2000/svg" width="160" height="159" viewBox="0 0 160 159" fill="none">
            <defs>
                <linearGradient id="paint0_linear_107_87" x1="120.236" y1="19.8815" x2="30.5744" y2="139.764"
                                gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FEEA37" />
                    <stop offset="1" stop-color="#DFA309" />
                </linearGradient>
            </defs>
        </svg>
    </div>
</div>

<div class="align-items-center" id="boxLogin">

    <div class="divColuna fw-bold">

        @* Lado esquerda *@
        <div class="col-4 text-center pt-5" id="bemVindo">

            <h2 class="mb-1">BEM VINDO</h2>

            <a class="nav_link" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="/images/logoAgendaHub.png" id="logoLogin">
            </a>

            <div class="text-container mb-5">
                <h3>Inscreva-se</h3>
                <img src="~/images/LineHorizontal.png" alt="Ícone de liknha Horizontal" class="lineHorizontal" />
            </div>

            <button id="botoesLgCriar"><a asp-area="" asp-controller="Account" asp-action="Login">Faça Login </a></button>

        </div>

        @*Lado Direito *@

        <div class="col text-center " id="formInput">

            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly"></div>

                <h1>CADASTRE-SE</h1>
                <div class="mb-3 pt-3 input-with-icon">
                    <div class="input-container">
                        <img src="~/images/iconUsuarios.png" alt="Ícone de usuário" class="iconC" />
                        <img src="~/images/line.png" alt="Ícone de liknha Vertical" class="lineC" />
                        <input asp-for="NomeUsuario" class="camposTextoLg" placeholder="USUÁRIO" />
                    </div>
                </div>

                <div class="mb-3  pt-3 input-with-icon">
                    <div class="input-container">
                        <img src="~/images/emailLogin.png" alt="Ícone de email" class="iconC" />
                        <img src="~/images/line.png" alt="Ícone de liknha Vertical" class="lineC" />
                        <input asp-for="Email" class="camposTextoLg" placeholder="EMAIL" />
                    </div>
                </div>

                <div class="mb-3  pt-3 input-with-icon">
                    <div class="input-container">
                        <img src="~/images/cadeado.png" alt="Ícone de cadeado" class="iconC" />
                        <img src="~/images/line.png" alt="Ícone de liknha Vertical" class="lineC" />
                        <input asp-for="Senha" class="camposTextoLg" id="textSenha" placeholder="SENHA" />
                        <img src="~/images/hideEye.png" id="iconeSenha" class="iconeOlho" onclick="MostrarSenha()" />
                    </div>
                </div>

                @* Define default Admin para os usuarios criados nessa page *@
                <input type="hidden" name="Perfil" value="Administrador" />


                <div class="form-group p-1">
                    <div class="mb-3">
                        <div>
                            <span asp-validation-for="NomeUsuario" class="text-danger "></span>
                        </div>
                        <div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div>
                            <span asp-validation-for="Senha" class="text-danger"></span>
                        </div>
                    </div>
                    <button type="submit" value="Create" class="botaoEntrar btn-secondary">Cadastrar</button>
                </div>
            </form>
        </div>


    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

