//Login
@model AGENDAHUB.Models.Usuario
<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<script src="~/js/MostrarSenha.js"></script>
@* Fonte de letra:*@
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
@{
    Layout = null;
}

@{
    ViewData["Title"] = "Login";
}

<script src="~/js/MostrarSenha.js"></script>

<div class="elipses">
    <div class="elipseDireita"></div>
    <div class="elipseEsquerda"></div>
    <div class="elipseBolaMaior"></div>
    <div class="elipseBolinha">
        <svg xmlns="http://www.w3.org/2000/svg" width="160" height="159" viewBox="0 0 160 159" fill="none">
            <defs>
                <linearGradient id="paint0_linear_107_87" x1="120.236" y1="19.8815" x2="30.5744" y2="139.764"
                                gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FEEA37" />
                    <stop offset="1" stop-color="#DFA309" />
                </linearGradient>
            </defs>
        </svg>
    </div>
</div>

<div id="boxLogin">

    <div class="divColuna fw-bold">
        @* Lado esquerda *@
        <div class="col-4 text-center pt-5" id="bemVindo">

            <h2>BEM VINDO</h2>

            <a class="nav_link" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="/images/logoAgendaHub.png" id="logoLogin">
            </a>
            <div class="text-container mb-5">
                <h3>Novo Login</h3>
                <img src="~/images/LineHorizontal.png" alt="Ícone de liknha Horizontal" class="lineHorizontal" />
            </div>

            <button id="botoesLgCriar"><a asp-area="" asp-controller="Account" asp-action="Create">Criar conta</a></button>

        </div>


        @*Lado Direito *@

        <div class="col text-center" id="formInput">
            <form asp-action="Login" asp-controller="Account">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <h1>FAÇA LOGIN</h1>

                <div class="mb-3 pt-3 input-with-icon">
                    <div class="input-container">
                        <img src="~/images/iconUsuarios.png" alt="Ícone de usuário" class="icon" />
                        <img src="~/images/line.png" alt="Ícone de liknha Vertical" class="line" />
                        <input asp-for="NomeUsuario" class="camposTextoLg" placeholder="USUÁRIO" />
                    </div>
                    <span asp-validation-for="NomeUsuario" class="text-danger"></span>
                </div>

                <div class="mb-3 pt-3 input-with-icon">
                    <div class="input-container">
                        <img src="~/images/cadeado.png" alt="Ícone de cadeado" class="icon" />
                        <img src="~/images/line.png" alt="Ícone de liknha Vertical" class="line" />
                        <input asp-for="Senha" class="camposTextoLg" id="textSenha" placeholder="SENHA" />
                        <img src="~/images/hideEye.png" id="iconeSenha" class="iconeOlho" onclick="MostrarSenha()" />
                    </div>
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>

                <div class="mb-3 pt-2">
                    <p class="redefinirSenha">
                        Esqueceu sua senha?
                        <a asp-area="" asp-controller="Account" asp-action="RedefinirSenha"> Redefinir minha senha. </a>
                    </p>
                </div>

                <div class="form-group pt-2">
                    <p class="text-danger">
                        @if (!ViewData.ModelState.IsValid && ViewBag.Message != null)
                        {
                            <span>@ViewBag.Message</span>
                        }
                    </p>
                    <button type="submit" value="Acessar" class="botaoEntrar btn-secondary">Entrar</button>
                </div>
            </form>
        </div>
    </div>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
