@{
    ViewData["Title"] = "Agendamentos";
}


<h1>@ViewData["Title"]</h1>

<p>Agendamentos marcados.</p>
@*  <div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="d-flex justify-content-between mb-3">
                <button type="button" class="btn btn-primary">+Novo Agendamento</button>
                <input type="date" class="form-control align-items-center" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card text-center">
                <div class="card-header">
                    ${Tipo do serviço}
                </div>
                <div class="card-body">
                    <h5 class="card-title">${Data} + {Horário}</h5>
                    <p class="card-text">S${Cliente} + {Contato}</p>
                    <a href="#" class="btn btn-primary">${Confirmar Agendamento}</a>
                </div>
            </div>
        </div>
    </div>
</div>  *@
