@{
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

@{
    ViewData["Title"] = "HomePage";
}

<main class="main-class">
    <section id="section-main">
        <div class="title">
            <h1>Agendamento<br> Online Inteligente</h1>
            <h2>Facilitando a Gestão do seu Tempo</h2>
            <p>Simplifique sua vida com nosso Agendamento de Serviços Online. <br />Gerencie seus compromissos de forma prática e eficiente.</p>
            <div class="button">
                <a class="nav_link" asp-area="" asp-controller="Account" asp-action="Login">
                    <button class="bn30">Login</button>
                </a>
                <a class="nav_link" asp-area="" asp-controller="Account" asp-action="Create">
                    <button class="bn30">Cadastre-se</button>
                </a>
            </div>
        </div>
        <div class="divCalendarioRelogio">
            <img class="calendarioRelogio" src="/images/calendarioRelogio.png" />
        </div>
    </section>

    <section id="section-main">
        <div class="servicos" id="servicos">
            <div class="titleservicos">
                <h4>CADASTRE SEUS SERVIÇOS</h4>

                <div class="cardVideo">
                    <div class="card__img">
                        <iframe width="560" height="315" src="https://youtu.be/Rx4XGlGUkng?si=gevsymBDx5phJaLl" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="card__descr-wrapper">
                      
                        <p class="card__descr">
                            Ao cadastrar seus serviços, você está dando o primeiro <br />passo para expandir sua presença online.
                        </p>
                       
                    </div>
                </div>
               @*<div class="table-container">
                    <div class="tablet">
                        <div class="screen">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/SE_M9noEhNE" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="servicos">
            <div class="titleservicos">
                <h3>EXIBA PARA SEUS CLIENTES</h3>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-image">
                    <img src="/images/corteFeminino.jpg"></>
                </div>
                <h5 class="card-title">Corte Chanel</h5>
                <h5 class="card-body">
                    Preço: R$99,00
                </h5>
                <h5 class="footer">Tempo de Execução: <span class="by-name">1h 35 min</span> </h5>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="/images/corteBarba.jpg"></>
                </div>
                <h5 class="card-title">Corte e Barba</h5>
                <h5 class="card-body">
                    Preço: R$46,00
                </h5>
                <h5 class="footer">Tempo de Execução: <span class="by-name">1h 35 min</span></h5>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="/images/personal.jpg"></>
                </div>
                <h5 class="card-title">Bioimpedanciometria</h5>
                <h5 class="card-body">
                    Preço: R$125,00
                </h5>
                <h5 class="footer">Tempo de Execução: <span class="by-name">1h 00 min</span></h5>
            </div>

        </div>
    </section>
    <section id="section-main-tres">
        <div class="servicos">
            <div class="titleservicos">
                <h3>Monitore Seus Agendamentos</h3>
            </div>
        </div>
        <div class="cardBanner">
            <div class="tools">
                <div class="circle">
                    <span class="red box"></span>
                </div>
                <div class="circle">
                    <span class="yellow box"></span>
                </div>
                <div class="circle">
                    <span class="green box"></span>
                </div>
            </div>
            <div class="card__content">
                
                    <img src="/images/AgendemetosPrint.jpg"></>
               
            </div>
        </div>
    </section>
    <section id="section-main-tres">
        <div class="servicos">
            <div class="titleservicos">
                <h3>Acompanhe Suas Finanças</h3>
            </div>
        </div>
        <div class="cardBanner">
            <div class="tools">
                <div class="circle">
                    <span class="red box"></span>
                </div>
                <div class="circle">
                    <span class="yellow box"></span>
                </div>
                <div class="circle">
                    <span class="green box"></span>
                </div>
            </div>
            <div class="card__content">

                <img src="/images/financasPrint.jpg"></>

            </div>
        </div>
    </section>


</main>



