@{
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

@{
    ViewData["Title"] = "Home Page";
}


<main class="main-class">
<section>
        <div class="title">
            <h1>Agendamento Online Inteligente</h1>
            <h2>Facilitando a Gestão do seu Tempo</h2>
            <p>Simplifique sua vida com nosso Agendamento de Serviços Online. Gerencie seus compromissos de forma prática e eficiente.</p>
        </div>
        <div class="divCalendarioRelogio">
        <img class="calendarioRelogio" src="/images/calendarioRelogio.png" />
        </div>
</section>
<section>

</section>
<section>

</section>
<section>

</section>
<section>

</section>


</main>