@{
    ViewData["Title"] = "Agendamentos";
}

<link rel="stylesheet" href="~/css/Agendamentos.css" asp-append-version="true" />


<h1 class="text-center">@ViewData["Title"]</h1>


<br />


<div class="container ps-lg-5">
    <div class="row">

        @*Botão Novo Agendamento*@

        <div class="col-md-3">
            <button type="button" class="btn btn-light mt-4" data-bs-toggle="modal" data-bs-target="#novoAgendamentoModal">
                + Novo Agendamento
            </button>
        </div>

        @* Modal *@

        <div class="modal fade" id="novoAgendamentoModal" tabindex="-1" aria-labelledby="novoAgendamentoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center w-100" id="novoAgendamentoModalLabel">Novo Agendamento</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body text-center" style="padding: 0 20%;">
                        <form>
                            <div class="mb-3">
                                <label for="cliente" class="form-label">Cliente</label>
                                <select class="form-select" id="clienteAgendamento">
                                    <option>Cliente 1</option>
                                    <option>Cliente 2</option>
                                    <option>Cliente 3</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="servico" class="form-label">Serviço</label>
                                <select class="form-select" id="servicoAgendamento">
                                    <option>Serviço 1</option>
                                    <option>Serviço 2</option>
                                    <option>Serviço 3</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="profissional" class="form-label">Profissional</label>
                                <select class="form-select" id="profissionalAgendamento">
                                    <option>Profissional 1</option>
                                    <option>Profissional 2</option>
                                    <option>Profissional 3</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="data" class="form-label">Data</label>
                                <input type="date" class="form-control" id="dataAgendamento">
                            </div>
                            <div class="mb-3">
                                <label for="hora" class="form-label">Hora</label>
                                <input type="time" class="form-control" id="horaAgendamento">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Salvar</button>
                    </div>
                </div>
            </div>
        </div>

        @* Filtro de Data *@

        <div class="col-md-3">
            <label for="dataInicio">Inicio</label>
            <input type="date" class="form-control" id="dataInicio">
        </div>

        <div class="col-md-3">
            <label for="dataFim">Fim</label>
            <input type="date" class="form-control" id="dataFim">
        </div>

        @* Barra de Pesquisa *@

        <div class="col-md-3 mt-4">
            <div class="input-group">
                <input type="text" class="form-control" id="pesquisar">
                <div class="input-group-append">
                    <button class="btn btn-light" type="button" id="botaoPesquisar">
                        <img style="height: 1.5rem; width: 2.5rem;" src="~/images/pesquisar.png" />
                    </button>
                </div>
            </div>
        </div>

        @* Filtro Status *@

        <div class="row">
            <div class="col d-flex justify-content-end pt-2">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownStatus" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Status <img style="height: 1.5rem; width: 2.5rem" src="~/images/filtro.png" />
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownStatus">
                        <a class="dropdown-item" href="#">Concluído</a>
                        <a class="dropdown-item" href="#">Pendente</a>
                        <a class="dropdown-item" href="#">Cancelado</a>
                    </div>
                </div>
            </div>
        </div>

        @* Card Agendamentos *@

        <div class="row pt-4" id="cardAgendamentos">
        <div class="col-md-8 offset-md-2">
            <div class="card text-center">
                <div class="card-header">
                    ${Tipo do serviço}
                </div>
                <div class="card-body">
                    <h5 class="card-title">${Data} + {Horário}</h5>
                    <p class="card-text">S${Cliente} + {Contato}</p>
                    <a href="#" class="btn btn-light">${Confirmar Agendamento}</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>