@{
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

@{
    ViewData["Title"] = "Home Page";
}


<main class="main-class">
    <section>
        <div class="title">
            <h1>Agendamento Online Inteligente</h1>
            <h2>Facilitando a Gestão do seu Tempo</h2>
            <p>Simplifique sua vida com nosso Agendamento de Serviços Online. Gerencie seus compromissos de forma prática e eficiente.</p>
        </div>
        <div class="divCalendarioRelogio">
            <img class="calendarioRelogio" src="/images/calendarioRelogio.png" />
        </div>
    </section>
    <section>
        <div class="servicos" id="servicos">
            <div class="titleservicos">
                <h4>CADASTRE SEUS SERVIÇOS</h4>


                <div class="table-container">
                    <div class="tablet">
                        <div class="screen">

                            <iframe width="560" height="315" src="https://www.youtube.com/embed/SE_M9noEhNE" frameborder="0" allowfullscreen></iframe>



                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <section>
        <div class="servicos">
            <div class="titleservicos">
                <h3>EXIBA PARA SEUS CLIENTES</h3>
            </div>
        </div>
        <div class="container scroll-1">
            <div class="card">
                <div class="card-image">
                    <img src="/images/corteFeminino.jpg"></>
                </div>
                <p class="card-title">Corte Chanel</p>
                <p class="card-body">
                    Preço: R$99,00
                </p>
                <p class="footer">Tempo de Execução: <span class="by-name">1h 35 min</span>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="/images/corteBarba.jpg"></>
                </div>
                <p class="card-title">Corte e Barba</p>
                <p class="card-body">
                    Preço: R$46,00
                </p>
                <p class="footer">Tempo de Execução: <span class="by-name">1h 35 min</span>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="/images/personal.jpg"></>
                </div>
                <p class="card-title">Bioimpedanciometria</p>
                <p class="card-body">
                    Preço: R$125,00
                </p>
                <p class="footer">Tempo de Execução: <span class="by-name">1h 00 min</span>
            </div>

        </div>
    </section>
    <section>
    </section>
    <section>
    </section>


</main>



