@{
    ViewData["Title"] = "Serviços cadastrados";
}

<link rel="stylesheet" href="~/css/Agendamentos.css" asp-append-version="true" />


<h1 class="text-center">@ViewData["Title"]</h1>


<br />

@*Botão Novo Serviço*@

<div class="col-md-3">
    <button type="button" class="btn btn-outline-info mt-4" data-bs-toggle="modal" data-bs-target="#novoServiçoModal"
        id="btnNovoServiço">
        + Novo Serviço
    </button>
</div>



@* Barra de Pesquisa *@

<div class="col-md-3 text-center mt-4">
    <div class="input-group" id="pesquisarDiv">
        <input type="text" class="form-control" id="pesquisar">
        <div class="input-group-append">
            <button class="btn btn-outline-info" type="button" id="botaoPesquisar">
                <img style="height: 1.5rem; width: 2.5rem;" src="~/images/pesquisar.png" />
            </button>
        </div>
    </div>
</div>


@* Filtro Status *@

<div class="row">
    <div class="col d-flex justify-content-end mt-2">
        <div class="dropdown">
            <button class="btn btn-outline-info dropdown-toggle me-4" type="button" id="btnStatusAgendamento"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Status <img style="height: 1.5rem; width: 2.5rem" src="~/images/filtro.png" />
            </button>
            <div class="dropdown-menu text-center" aria-labelledby="dropdownStatus" id="dropdownStatus">
                <a class="dropdown-item btn-btn-outilne-succes" href="#">Concluído</a>
                <a class="dropdown-item" href="#">Pendente</a>
                <a class="dropdown-item" href="#">Cancelado</a>
            </div>
        </div>
    </div>
</div>

@* Modal *@

<div class="modal fade" id="novoServiçoModal" tabindex="-1" aria-labelledby="novoServiçoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content" id="modalServiço">
            <div class="modal-header">
                <h5 class="modal-title text-center w-100" id="novoServiçoModalLabel">Novo Serviço</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body text-center" style="padding: 0 20%;">
                <form>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nome do serviço</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="Corte de cabelo">
                    </div>
                    <div class="mb-3">
                        <label for="servico" class="form-label">Profissional</label>
                        <select class="form-select" id="servicoServiço">
                            <option>Serviço 1</option>
                            <option>Serviço 2</option>
                            <option>Serviço 3</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Valor</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="hora" class="form-label">Tempo de execução</label>
                        <input type="time" class="form-control" id="horaServiço">
                    </div>
                    <div class="container mt-5">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <form enctype="multipart/form-data">
                                    <div class="mb-3">
                                        <label for="imagem" class="form-label">UPLOAD IMG</label>
                                        <input type="file" class="form-control" id="imagem" name="imagem">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-outline-info" id="cadastrarServiço">Cadastrar</button>
            </div>
        </div>
    </div>
</div>
